# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate

# Build products / caches
DerivedData/
.build/

# Xcode legacy user settings
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Logs
*.log